body{
  background-color: lavender;
}
/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
}

.word {
  position: relative;
  font-size: 24px;
  animation: slide-in 2s ease-in-out forwards, bounce 0.5s ease-in-out 2.5s;
  transform-origin: right center;
  opacity: 0;
}

@keyframes slide-in {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}
/* styles.css */

/* Normal button styles */
.button {
  display: inline-block;
  height: 3rem;
  width: 7rem;
  margin-top: 0.5rem;
  padding: 9px 5px;
  background-color: #05141f;
  color: #ffffff;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.button:hover {
  background-color: #2980b9;
  transform: scale(1.05); /* Increases the button size slightly on hover */
}

